__pycache__
banking
instance
website/__pycache__
website/admin/__pycache__
website/auth/__pycache__
website/main/__pycache__
website/database/__pycache__
website/pdfs
website/utils/__pycache__
website/debugger.log