{% extends "base.html" %}

{% block content %}

<script>
    url = {{ url|tojson }}
</script>

<section class="hero has-text-centered has-text-black">
    <div class="hero-body">
        <div class="container">
            <p class="title">Account History Chart</p>

            {% if valid %}

            <canvas id="account_history_chart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
            <script src="{{ url_for('static', filename='account_graph.js') }}"></script>

            {% else %}

            <p class="subtitle">Not Enough Data Yet</p>

            {% endif %}
        </div>
    </div>
</section>

{% endblock %}