{% extends "form_base.html" %}

{% block content %}

<h1 class="title">Admin Controls</h1>

<div class="tabs">
    <ul>
        <li><a href="{{ url_for('admin.bank_settings') }}">Bank Settings</a></li>
        <li><a href="{{ url_for('admin.send_alert') }}">Send Alert</a></li>
        <li><a href="{{ url_for('admin.send_message') }}">Send Message</a></li>
        <li class="is-active"><a href="{{ url_for('admin.compound') }}">Compound</a></li>
    </ul>
</div>

<form method="POST">
    <button type="submit" class="button is-block is-info is-large is-fullwidth">Compound</button>
</form>

{% endblock %}