{% extends "form_base.html" %}

{% block content %}

<h1 class="title">Statements</h1>
<div class="box has-background-success">
    <table class="table is-fullwidth is-striped is-hoverable is-bordered">
        <thead>
            <tr>
                <th><abbr title="Statement">Statement</abbr></th>
                <th><abbr title="Statement Date">Statement Date</abbr></th>
            </tr>
        </thead>
        <tbody>
            {% for statement in statements %}
                <tr>
                    <td><a href="{{ url_for('main.generate_eStatement', id=statement.id) }}">{{ statement.name }}</a></td>
                    <td>{{ statement.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}