{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome To My Banking Project!
</h1>

<div class="box">
  <div class="content is-normal">
    <h2 class="subtitle">Project Goals</h2>
    <p>
      The overarching goal for this project was to create a website that 
      implements the major functions that you might find on any major 
      banking website. Some functions cannot be implemented of course 
      because this is not a real banking website, for example wire 
      transfers. The major functionality I was seeking to reproduce was:
      <ul>
        <li>Create a bank account</li>
        <li>Close a bank account</li>
        <li>Withdraw from a bank account</li>
        <li>Deposit into a bank account</li>
        <li>Transfer money from one of your bank accounts to another</li>
        <li>View various breakdowns of your transactions</li>
      </ul>
    </p>
  </div>
</div>

<div class="box">
  <div class="content is-normal">
  <h2 class="subtitle">Project Description</h2>
    <p>
      This project uses Flask, Flask-Login, and Flask-SQLAlchemy to create this website.
      There were several simplifications necessary to be able to build this project:
      <ul>
        <li>Withdrawals, deposits, and balances are in no way backed up with 
          any kind of currency and in no way represent real money.
        </li>
    
        <li>Account creation and closure can be done automatically online,
          normally this would require a phone call to the bank but this 
          is the best solution.
        </li>
    
        <li>
          Because the goal is to simply emulate the functionality necessary for a banking website,<br>
          users can start an account with any amount of money in an account and deposit or withdraw as<br>
          much as they would like.
        </li>
    
      </ul>
    </p>
  </div>
</div>

{% endblock %}