{% extends "form_base.html" %}

{% block content %}

<script src="https://kit.fontawesome.com/211e3cc0ac.js" crossorigin="anonymous"></script>

<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <form method="POST">

            <div class="field">
                <div class="control has-icons-left">
                    <input class="input is-large" type="text" name="username" placeholder="Your Username" value="{{ request.form['username'] }}">
                    <span class="icon is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password" value="{{ request.form['password'] }}">
                </div>
            </div>

            <button type="submit" class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>

{% endblock %}