{% extends "base.html" %}

{% block content %}

<script src="https://kit.fontawesome.com/211e3cc0ac.js" crossorigin="anonymous"></script>

<div class="tabs">
    <ul>
        <li><a href="{{ url_for('main.alerts') }}">Alerts</a></li>
        <li class="is-active"><a href="{{ url_for('main.messages') }}">Messages</a></li>
    </ul>
</div>

{% if not messages %}

<div class="box has-text-centered">
    <section class="hero">
        <div class="hero-body">
            <p class="title">No Messages</p>
        </div>
    </section>
</div>

{% endif %}

{% for message in messages %}

<div class="box has-background-success has-text-black">
    <p>{{ message['date'] }}</p>

    <hr>

    <p>{{ message['content'] }}</p>

    <hr>

    <a href="{{ url_for('main.delete_message', id=message['id']) }}">
        <span class="icon is-left">
            <i class="fas fa-trash fa-sharp"></i>
        </span>
    </a>
</div>

{% endfor %}

{% endblock %}