{% extends "form_base.html" %}

{% block content %}

<h1 class="title has-text-black">Welcome {{ user.name }}!</h1>

<hr>

<h2 class="subtitle has-text-black">User Info</h2>

<div class="column is-4 is-offset-4">
    <div class="box has-text-left has-background-success has-text-black">
        <p>Username: {{ user.username }}</p>
    </div>
</div>

<div class="block"></div>

<h2 class="subtitle has-text-black">Associated Accounts</h2>

<div class="column is-4 is-offset-4">

    {% if accounts %}

    <div class="box has-text-left has-background-success has-text-black">
        <ul>
        {% for acc_no in accounts %}
        <li>Account {{ acc_no }}</li>
        {% endfor %}
        </ul>
    </div>

    {% else %}

        <div class="box has-text-centered">
        <section class="hero">
            <div class="hero-body">
                <p class="title">No Associated Accounts Yet</p>
            </div>
        </section>
        </div>

    {% endif %}

</div>

{% endblock %}