{% extends "form_base.html" %}

{% block content %}

<h1 class="title">Admin Controls</h1>

<div class="tabs">
    <ul>
        <li><a href="{{ url_for('admin.bank_settings') }}">Bank Settings</a></li>
        <li class="is-active"><a href="{{ url_for('admin.send_alert') }}">Send Alert</a></li>
        <li><a href="{{ url_for('admin.send_message') }}">Send Message</a></li>
    </ul>
</div>

<h2 class="subtitle">Send An Alert To All Bank Users</h2>

<div class="box has-background-success">
    <form method="POST">
        {{ form.hidden_tag() }}

        <label class="label">{{ form.content.label }}</label>
        <div class="field is-centered">
            <div class="control">
                {{ form.content(class="textarea") }}
            </div>
        </div>

        <hr>

        {{ form.submit(class="button") }}

    </form>
</div>

{% endblock %}