{% extends "form_base.html" %}

{% block content %}

<div class="box has-background-success">
    <form method="POST">

        <label class="label">Withdrawal Amount</label>
        <div class="field">
            <div class="control">
                <input class="input is-large" autocomplete="off" type="text" name="bal" placeholder="100.00">
            </div>
        </div>

        <button type="submit" class="button is-block is-info is-large is-fullwidth">Withdraw</button>
    </form>
</div>

{% endblock %}