{% extends "base.html" %}

{% block content %}

<div class="control has-text-centered">

  {% if not savings_accounts %}
  <div class="box has-text-centered">
    <section class="hero">
        <div class="hero-body">
            <p class="title">No Savings Accounts</p>
        </div>
    </section>
  </div>

  {% else %}
  <h2 class="title has-text-black">Savings Accounts</h2>

  {% endif %}

  {% for acc in savings_accounts %}
  <div class="box has-background-success has-text-black has-text-left">
    <h4>Account Number: {{ acc['acc_no'] }}</h4>
    <h4>Balance: {{ acc['bal'] }}</h4>
    <h4>Minimum Balance Allowed: {{ acc['min_bal'] }}</h4>
    <h4>APY: {{ acc['apy'] }}</h4>
    <hr>
    <div class="buttons has-text-centered">
      <a href="{{ url_for('main.account_graph', acc_no=acc['acc_int']) }}" class="button is-white">Account History</a>
      <a href="{{ url_for('main.withdraw', acc_no=acc['acc_int']) }}" class="button is-white">Withdraw</a>
      <a href="{{ url_for('main.deposit', acc_no=acc['acc_int']) }}" class="button is-white">Deposit</a>
      <a href="{{ url_for('main.close_account', acc_no=acc['acc_int']) }}" class="button is-white">Close Account</a>
      <a href="{{ url_for('main.transfer_route', acc_no=acc['acc_int']) }}" class="button is-white">Transfer</a>
    </div>
  </div>
  {% endfor %}

  {% if not checkings_accounts %}
  <div class="box has-text-centered">
    <section class="hero">
        <div class="hero-body">
            <p class="title">No Checkings Accounts</p>
        </div>
    </section>
  </div>

  {% else %}
  <h2 class="title has-text-black">Checkings Accounts</h2>

  {% endif %}

  {% for acc in checkings_accounts %}
  <div class="box has-background-success has-text-black has-text-left">
    <h4>Account Number: {{ acc['acc_no'] }}</h4>
    <h4>Balance: {{ acc['bal'] }}</h4>
    <h4>Minimum Balance Allowed: {{ acc['min_bal'] }}</h4>
    <h4>APY: {{ acc['apy'] }}</h4>
    <hr>
    <div class="buttons has-text-centered">
      <a href="{{ url_for('main.account_graph', acc_no=acc['acc_int']) }}" class="button is-white">Account History</a>
      <a href="{{ url_for('main.withdraw', acc_no=acc['acc_int']) }}" class="button is-white">Withdraw</a>
      <a href="{{ url_for('main.deposit', acc_no=acc['acc_int']) }}" class="button is-white">Deposit</a>
      <a href="{{ url_for('main.close_account', acc_no=acc['acc_int']) }}" class="button is-white">Close Account</a>
      <a href="{{ url_for('main.transfer_route', acc_no=acc['acc_int']) }}" class="button is-white">Transfer</a>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}