{% extends "form_base.html" %}

{% block content %}

<div class="box has-background-success">
    <h1 class="title">Delete Account {{ account_number }}?</h1>
    <form method="POST">
        {{ form.csrf_token }}

        <label class="label">{{ form.transfer_no.label }}</label>
        <div class="field">
            <div class="control">
                {{ form.transfer_no(class="input") }}
            </div>

            {% for error in form.transfer_no.errors %}
                <span class="tag is-danger">{{ error }}</span>
            {% endfor %}
        </div>
    
        <label class="label">{{ form.password.label }}</label>
        <div class="field">
            <div class="control">
                {{ form.password() }}
            </div>

            {% for error in form.password.errors %}
                <span class="tag is-danger">{{ error }}</span>
            {% endfor %}
        </div>
            
        {{ form.submit(class="button") }}
    </form>
</div>

{% endblock %}