{% extends "form_base.html" %}

{% block content %}

<script src="https://kit.fontawesome.com/211e3cc0ac.js" crossorigin="anonymous"></script>

<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box has-background-success">
        <form method="POST">
            {{ form.csrf_token }}

            <label class="label">{{ form.username.label }}</label>
            <div class="field">
                <div class="control has-icons-left">
                    {{ form.username(class="input") }}
                    <span class="icon is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>

                {% for error in form.username.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>

            <label class="label">{{ form.password.label }}</label>
            <div class="field">
                <div class="control">
                    {{ form.password(class="input") }}
                </div>

                {% for error in form.password.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>

            {{ form.submit(class="button") }}
        </form>
    </div>
</div>

{% endblock %}